name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  ci:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        rust: [stable]

    steps:
      - uses: actions/checkout@v6

      - name: Install Rust (${{ matrix.rust }})
        uses: actions-rust-lang/setup-rust-toolchain@v1.15.2
        with:
          toolchain: ${{ matrix.rust }}
          components: rustfmt, clippy

      - name: Cache Cargo
        uses: Swatinem/rust-cache@v2

      - name: Check
        run: cargo check --all-targets --all-features

      - name: Tests
        run: cargo test --all-targets --all-features --verbose

      - name: Rustfmt
        run: cargo fmt --all -- --check

      - name: Linting
        run: cargo clippy --all-targets --all-features -- -D warnings

      - name: Documentation
        run: cargo doc --no-deps --all-features
